h1 {
    text-align: center;
}

#productList {
    text-align: center;
}

.product-card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    width: 200px;
    display: inline-block;
    background-color: #d6d6d6;
    box-shadow: 1px 4px 8px rgba(0, 0, 0, 0.1);
}

.product-card p {
    margin: 5px 0;
}

.product-card h3 {
    margin: 0;
    font-size: 18px;
    font-weight: bold;
    color: #333;
}

.product-details {
    font-size: 14px;
    color: #666;
}
